@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

/*PC：1100px*/
.inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
  
/*header*/
.header {
    background-color: #fff;
    width: 100%;
    display: flex;
}
  
.archway {
    color:#777;
    padding: 15px 0;
    float: left;
}
  
/*contactボタン*/
.header-nav {
    background-color: #6ba7eb;
    transition: all 0.3s;
    margin: 15px 0;
    float: right;
}
  
.header-nav a {
    display: block;
    color: #fff;
    padding: 15px 20px;
}
  
.header-nav a:hover {
    color: #333;
}

.menu-icon {
    color: #cfd8dc;
    float: right;
    font-size: 35px;
    padding: 22px 0;
    display: none;
}
  
/*メイン画面*/
  
/*keyvisual*/
.keyvisual {
    padding: 400px 0 400px 0;
    background-image: url(../images/keyvisual/keyvisual.jpg);
    background-size: cover;/*表示領域を埋めつくす設定*/
    text-align: center;
}
  
h1 {
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
    margin-bottom: 30px;
}
  
.keyvisual p {
    font-size: 40px;
    font-weight: 700;
    color:#fff;
}
  
/*NEWS*/
.news {
    background-color: #e3f2fd;
    display: flex;
    flex-direction: row;
    padding: 2% 0;
}

.news-icon {
    flex-basis: 40%;
    float: left;
}
  
.news-text {
    flex-basis: 60%;
    text-align: center;
}
  
h2 {
    font-size: 40px;
    letter-spacing: 10px;
    margin-top: 20px;
    margin-bottom: 35px;
}
  
.news-text p{
    font-size: 15px;
    line-height: 18px;/*行間、行の高さ*/
    text-align: justify;/*両端揃え*/
    word-break:break-all;
}
  
/*skills*/
.skills {
    text-align: center;
    background-color: #fff;
    margin-top: 50px;
}

.skills h2 {
    text-align: center;
}
  
.skills-icon {
    display: inline-block;
    width: 300px;
    padding: 30px;
}
  
.skills-icon img {
    opacity: 0.7;
    width: 100%;
}
  
.skills-icon img:hover {
    opacity: 1.0;
}
  
/*plan*/
  
.plan {
    background-color: #d0dfea;
    padding: 50px 0;
    margin-top: 50px;
}
  
.plan h2 {
    margin-bottom: 50px;
    text-align: center;
}
  
table {
    font-size: 16px;
    width: 90%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    background: #f9f9f9;
}
  
table tr:nth-child(2n+1) {
    background: #e0efff;
}
  
table th {
    padding: 10px;
    background:  #6ba7eb;
    border-left: 2px solid #fff;
}
  
table td {
    padding: 10px;
    border: solid 1px #ffffff;
}
  
td:first-child {
    font-weight: bold;
}

/*SNS icon*/
.sns {
    width: 100%;
    background-color: #e3f2fd;
}

.sns-btn li {
    text-align:center;
    margin: 125px 0;
}
  
.sns-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    margin: 0 30%;
}
  
.btn {
    width: 185px;
    padding: 25px 0;
    color: #8c8c8c;
    overflow:hidden;
    font-size: 40px;
}
  
.sns-btn a:hover {
    color: #fff;
}

/*フッター*/
footer {
    min-height: 50px;
    background-color: #cfd8dc;
}
  
footer p {
    float: right;
    margin: 25px 0;
    padding-right: 50px;
    font-size: 13px;
    letter-spacing: 0.5px;/*字間*/
}

/*TAB*/
@media all and (max-width: 1199px) {
    /*keyvisual*/
    .keyvisual {
        padding: 250px 0;
    }

    /*NEWS*/
    .news {
        padding: 50px 0;
    }
    .news-icon {
        width: 100%;
        text-align: center;
    }
    .news-text {
        width: 100%;
    }

    /*skills*/
    .skills-icon {
        width: 50%;
        margin: 0;
        padding: 0 5%;
        flex-direction: column;
        align-items: center;
    }

    .skills-icon:nth-child(3n+1) {
        padding-bottom: 50px;
    }

    .skills-icon img {
        vertical-align: bottom;
    }
}

/*SP*/
@media all and (max-width: 767px) {
    /*header*/
    .header-nav {
        display: none;
    }
    .menu-icon {
        display: block;
    }

    /*keyvisual*/
    .keyvisual {
        padding: 200px 0;
    }
    h1 {
        font-size: 40px;
    }
    .keyvisual p {
        font-size: 30px;
    }

    /*NEWS*/
    .news-icon {
        width: 100%;
        text-align: center;
    }
    .news-text {
        width: 100%;
    }

    /*skills*/
    .skills-icon {
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .skills-icon:nth-child(3n+1) {
        padding-bottom: 50px;
    }

    .skills-icon img {
        vertical-align: bottom;
    }

    /*plan*/
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }

    table th {
        font-size: 14px;
        line-height: 22px;
    }

    table td {
        font-size: 12px;
    }

    /*SNS icon*/
    .sns {
        width: 100%;
        padding: 50px 0;
    }

    .sns-btn {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        padding: 25px 15px;
    }
}
